<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="UnitScale">
            <file>tests/ScaleTest.php</file>
            <file>tests/Implementations/CustomScaleTest.php</file>
            <file>tests/Implementations/CustomScaleFactoryTest.php</file>
            <file>tests/Implementations/CustomScaleValueTest.php</file>
            <!--
            <file>tests/MassScaleConverterTest.php</file>
            <file>tests/TimeScalesTest.php</file>
            <file>tests/TimeScaleConverterTest.php</file>
            <file>tests/ScaleContainerTest.php</file>
            <file>tests/CustomReductionTest.php</file>
            <file>tests/MassReductionTest.php</file>
            <file>tests/TimeReductionTest.php</file>
        -->
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
